<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragments/accionFragments :: headerfiles}"></div>
        <div th:replace="~{fragments/accionFragments :: level3Header}"></div>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div id="accion_preloader_wrapper">
            <div id="accion_preloader_box">
                <div class="accion_loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div th:replace="~{fragments/accionFragments :: userManagerMenu}"></div>
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-12"><h5 class="m-0 text-red">Change Default Password</h5></div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="offset-2 col-sm-8">
                                <form id="changePassword" class="text-center" th:action="@{/user-manager/change-default-password}" th:object="${loginPayload}" method="POST">
                                    <div class="form-row">
                                        <div class="col-sm-4 form-control-sm text-right">Default Password:<span class="text-primary">*</span></div>
                                        <div class="col-sm-7">
                                            <input type="password" th:field="*{password}" class="form-control form-control-sm" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-4 form-control-sm text-right">New Password:<span class="text-primary">*</span></div>
                                        <div class="col-sm-7">
                                            <input type="password" th:field="*{newPassword}" class="form-control form-control-sm" required="required" />
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="col-sm-4 form-control-sm text-right">Confirm Password:<span class="text-primary">*</span></div>
                                        <div class="col-sm-7">
                                            <input type="password" th:field="*{confirmPassword}" class="form-control form-control-sm" required="required" />
                                            <button class="btn btn-secondary btn-rounded btn-block btn-sm my-4 waves-effect z-depth-0" type="submit">Process request</button>
                                        </div>
                                    </div>
                                    <input type="hidden" th:field="*{username}"/>
                                </form>

                                <p class="text-secondary">
                                    Note:<br/>
                                    1. Password is case sensitive <br/>
                                    2. Password must be 6 characters long <br/>
                                    3. Password must contain an upper case character <br/>
                                    4. Password must contain a lower case character <br/>
                                    5. Password must contain a digit <br/>
                                    6. Password must contain any of the signs @#$%
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/accionFragments :: userManagerFooter}"></div>
        </div>
        <div th:replace="~{fragments/accionFragments :: userManagerScriptLevel3}"></div>v>
        <div class="toast" style="position: absolute; top: 50px; right: 0; height: auto; width:auto;" data-autohide="false" data-delay="10000">
            <div class="toast-header">
                <strong class="mr-auto text-primary">A.I.S</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body bg-white text-primary">
                <p th:text="${alertMessage}"></p>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $(".chzn-select").chosen();
            });
        </script>
    </body>
</html>