<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragments/accionFragments :: headerfiles}"></div>
        <div th:replace="~{fragments/accionFragments :: level2Header}"></div>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div id="accion_preloader_wrapper">
            <div id="accion_preloader_box">
                <div class="accion_loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div th:replace="~{fragments/accionFragments :: userManagerMenu}"></div>
            <div th:replace="~{fragments/accionFragments :: userManagerFooter}"></div>

            <aside class="control-sidebar control-sidebar-dark"></aside>
        </div>
        <div th:replace="~{fragments/accionFragments :: userManagerScriptLevel2}"></div>v>
        <div class="toast" style="position: absolute; top: 50px; right: 0; height: auto; width:auto;" data-autohide="false" data-delay="10000">
            <div class="toast-header">
                <strong class="mr-auto text-primary">A.I.S</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body bg-white text-primary">
                <p th:text="${alertMessage}"></p>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
            $(".chzn-select").chosen();
            });
        </script>
    </body>
</html>