<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <div th:replace="~{fragments/accionFragments :: headerfiles}"></div>
        <div th:replace="~{fragments/accionFragments :: level3Header}"></div>
    </head>
    <body class="hold-transition sidebar-mini layout-fixed">
        <div id="accion_preloader_wrapper">
            <div id="accion_preloader_box">
                <div class="accion_loader">
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div th:replace="~{fragments/accionFragments :: userManagerMenu}"></div>
            <div class="content-wrapper">
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-12"><h5 class="m-0 text-red">User Profile List</h5></div>
                        </div>
                        <hr/>
<!--                        <div class="row mb-2">
                            <div class="col-sm-12">
                                <form id="a24AuditLogFilter" class="form-inline" th:action="@{/user-manager/ais-users-list}" th:object="${profilePayload}" method="POST">
                                    <div class="form-group">
                                        <label for="auditClass" class="sr-only">Branch<span class="text-primary">*</span></label>
                                        <select th:field="*{branch}" class="form-control form-control-sm chzn-select">
                                            <option value="">--Select Branch ---</option>
                                            <option th:each="branch : ${branches}" th:value="${branch}" th:text="${branch}"></option>
                                        </select>
                                    </div>
                                    <button class="btn btn-secondary btn-rounded btn-sm text-white mb-2" type="submit">Process request</button>
                                </form>
                            </div>
                        </div>-->
                        <hr/>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="card" style="overflow: auto;">
                                    <div class="card-body">
                                        <table class="userManagerTable table table-striped table-hover table-sm table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Last Name</th>
                                                    <th>Other Name</th>
                                                    <th>Username</th>
                                                    <th>Email</th>
                                                    <th>User Type</th>
                                                    <th>Status</th>
                                                    <th>Branch</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="rec : ${userList}">
                                                    <td th:text="${rec.id}"></td>
                                                    <td th:text="${rec.lastName}"></td>
                                                    <td th:text="${rec.otherName}"></td>
                                                    <td th:text="${rec.username}"></td>
                                                    <td th:text="${rec.email}"></td>
                                                    <td th:text="${rec.userType}"></td>
                                                    <td th:text="${rec.status}"></td>
                                                    <td th:text="${rec.branch}"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="~{fragments/accionFragments :: userManagerFooter}"></div>
        </div>
        <div th:replace="~{fragments/accionFragments :: userManagerScriptLevel3}"></div>v>
        <div class="toast" style="position: absolute; top: 50px; right: 0; height: auto; width:auto;" data-autohide="false" data-delay="10000">
            <div class="toast-header">
                <strong class="mr-auto text-primary">A.I.S</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
            </div>
            <div class="toast-body bg-white text-primary">
                <p th:text="${alertMessage}"></p>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $(".chzn-select").chosen();
            });
        </script>
    </body>
</html>